mixin title(name, size, pos, theme)
    if (theme)
        h1(class=`title title_size_${size} title_pos_${pos} title_theme_${theme}`)!= name
    else
        h1(class=`title title_size_${size} title_pos_${pos}`)!= name