@import './text_font_gotham-reg.scss';
@import './text_font_gotham-light.scss';

@font-face {
    font-family: "Lato";
    src: url('./text/LatoRegular.ttf');
    line-height: 1.2;
}

.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: white;
}

@import './text_theme_blue.scss';
@import './text_size_n.scss';