@font-face {
    font-family: "GothamPro";
    src: url('./text/GothamProRegular.otf');
    line-height: 1.2;
}

.text {
    font-size: 15px;
    font-family: "GothamPro", sans-serif;
    color: white;
    line-height: 1.2;
  }
  