@import 'text_font_gotham-reg';
@import 'text_font_gotham-light';
@import 'text_font_lato-bold';

@font-face {
    font-family: "Lato";
    src: url('./text/LatoRegular.ttf');
    line-height: 1.2;
}

.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: white;
}

@import 'text_theme_blue';
@import 'text_size_n';
@import 'text_size_m';
@import 'text_size_m2';
@import 'text_size_xm';
@import 'text_size_l';