include arrows__item

mixin arrows__item-double(dir, length)
    div(class=`arrows__item-double arrows__item-double_direction_${dir} arrows__item-double_length_${length}`)
        +arrows__item()
        +arrows__item()