.element__num {
    margin-bottom: -3px;
    line-height: 1;
}

.element_align_center-top-row > .element__num {
    margin-right: 6px;
}

.element_align_center-bottom > .element__num {
    margin: 0 2px 2px;
}
