.element_align_center-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.element_align_center-bottom > .element__num {
    order: 1;
}

.element_align_center-bottom > .element__name {
    order: 2;
}