mixin hyperglycemia(border)
    if (border)
        div(class=`text text_size_xm hyperglycemia hyperglycemia_border_${border}`) Гипергликемия
    else
        div(class="text text_size_xm hyperglycemia") Гипергликемия