-
    var titles = {
        slide1: { name: 'Всегда ли цели терапии СД2 на поверхности?', size: 'l', position: 'top-left' },
        slide2: { name: 'Основа терапии - патогенез СД2', size: 'l', position: 'center' },
        tab1: { name: 'Звенья патогенеза СД2', size: 'm', position: 'top-left' },
        tab2: { name: 'Смертельный октет', size: 'm', position: 'top-left' },
        tab3: { name: 'Звенья патогенеза СД2', size: 'm', position: 'top-left' }
    };
    var slideOneGoals = {
        goal1: { name: 'Цель по HbA1c', pointerSize: 'l' },
        goal2: { name: 'Гипогликемия', pointerSize: 'm' },
        goal3: { name: 'Осложнения СД', pointerSize: 's' },
        goal4: { name: 'СС риски', pointerSize: 's' }
    };

include slide/slide
include title/title
include carousel/carousel
include goal/goal
include next-slide/next-slide
include pagination/pagination

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{htmlWebpackPlugin.options.title}
    body
        +slide
            +title(titles.slide1.name, titles.slide1.size, titles.slide1.position)
            each item in slideOneGoals
                +goal(item.name, item.pointerSize)
            +next-slide
        +slide
            +title(titles.slide2.name, titles.slide2.size, titles.slide2.position)
        +carousel
            +slide
                +title(titles.tab1.name, titles.tab1.size, titles.tab1.position)
            +slide
                +title(titles.tab2.name, titles.tab2.size, titles.tab2.position)
            +slide
                +title(titles.tab3.name, titles.tab3.size, titles.tab3.position)
        +pagination
            +pagination__circle(true)
            +pagination__circle(false)
            +pagination__circle(false)